body {
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
}
._1HmYoV {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._container {
    width: 100%;
    position: relative;
}
.hCUpcT {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}
._35HD7C {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
.bhgxx2 {
    display: block;
}
 ._1lBhq8 {
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500;
}
.bhgxx2 {
    display: block;
}
.col-12-12 {
    width: 100%;
}
._20my3- {
    text-align: center;
    padding: 30px 0 36px;
    background: #fff;
}
._3y1KzS {
    height: 162px;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.hJKWmk {
    display: block;
    font-size: 18px;
    margin-top: 24px;
}
._2VeR_A {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}
body, button, input, select, textarea {
    font-family: Arial,sans-serif;
    letter-spacing: -.2px;
}
._but {
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e0e0e0;
}
._but_prime {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px;
}
._but._click {
    background: #82ae46;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
}